@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Sigmar&display=swap');

* {
  box-sizing: border-box;
}

html {
  font: 18px 'Kanit', sans-serif;
}

#wrapper {
  border: 2px solid #000;
  box-shadow:  2px 0 10px #000,
              -2px 0 10px #000;
  margin: auto;
  max-width: 1200px;
  min-width: 320px;
  position: relative;
  width: 95%;
}

#logo {
  background: url(../images/logo.gif) no-repeat center;
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/***header***/
header {
  background-color: #d0e37a;
  border: 2px solid #000;
  text-align: center;
}

header img {
  left: 20px;
  max-width: 100%;
  position: relative;
}

h1 {
  color: #000;
  font: 72px 'Sigmar', cursive;
  margin: 0;
  position: relative;
  top: 70px;
  z-index: 1;
}

/**nav**/
nav {
  font-weight: bold;
  text-align: center;
}

nav li {
  display: inline-block;
  list-style: none;
}

nav a {
  color: #000;
  text-decoration: none;
  padding: 3rem;
}

nav a:hover {
  color: #fff;
}

nav li:hover {
  background-color: #000;
  border-radius: 15%;
}

#nav-trigger,
#nav-box {
  display: none;
}

/***main***/
#skip-link {
  background-color: #000;
  border: #fff double 6px;
  color: #fff;
  padding: .5rem;
  position: absolute;
  text-decoration: none;
  top: -9999px;
}

#skip-link:focus {
  left: 3rem;
  top: 5rem;
  z-index: 200;
}

h2 {
  margin: .5rem auto;
  text-align: center;
}

main img {
  border: 2px solid #000;
  border-radius: 50%;
  height: auto;
  max-width: 100%;
}

/**footer**/
footer {
  background-color: #d0e37a;
  border: 2px solid #000;
  color: #000;
  font-style: italic;
  padding: 1rem;
  text-align: right;
}

/***form***/
form {
  padding: 1rem;
  margin: auto;
  width: 90%;
}

form p {
  margin-bottom: 0;
}

input:checked + label::after {
  content: url(../images/icon-comb-32.gif);
}

input[type='text']:valid,
input[type='email']:valid,
input[type='tel']:valid
{
  background: url(../images/icon-scissors-32.gif) no-repeat right/contain;
}

input[type=submit] {
  margin: 1rem;
}

/****table***/
table {
  border: 5px solid #000;
  border-collapse: collapse;
  margin: 1rem auto;
  min-width: 275px;
  table-layout: fixed;
  text-align: center;
  width: 75%;
}

th, 
td {
  background-color: #d0e37a;
  border: 2px solid #000;
  padding: .5rem;
  text-align: center;
}

/*** ID's ***/
#about {
  padding-bottom: 2rem;
  text-align: center;
}

#about img {
  box-shadow:  2px 0 10px #000,
              -2px 0 10px #000;
  float: right;
  margin: auto 1rem;
}

#about p {
  padding: 0 1rem;
}

#container {
  display: flex;
  margin: auto;
}

#container figure {
  background-color: #d0e37a;
  border: 2px solid #000;
  border-radius: 25%;
  box-shadow:  2px 0 10px #000,
              -2px 0 10px #000;
  padding: 1rem;
  position: relative;
  text-align: center;
}

#service {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin: auto;
  width: 95%;
}

#service a {
  color: #000;
  text-decoration: none;
}

#service section {
  background-color: #d0e37a;
  border: 1px solid #000;
  border-radius: 25%;
  box-shadow:  2px 0 10px #000,
              -2px 0 10px #000;
  flex: 1;
  position: relative;
  text-align: center;
}

#service section:hover {
  box-shadow:  2px 0 10px #ff00ff,
              -2px 0 10px #ff00ff;
}

/**1200**/
@media (max-width: 1200px) {

  h1 {
    font-size: calc(36px + (72 - 36) * (100vw - 400px) / (1600 - 400));
  }
}

/**1150**/
@media (max-width: 1150px) {

  #about img {
    float: none;
    margin: auto;
  }

  #container {
   display: block;
   width: 75%;
  }
  
  #container figure {
   margin: 1rem;
  }
  
  #service {
    display: block;
  }

  #service section {
    margin: 1rem;
    padding: .5rem;
  }
}

/***750***/
@media screen and (max-width: 750px) {
  
  #wrapper {
    width: 100%;
  }
  
  h1 {
    margin: 1rem auto 0;
  }

  #logo{
    display: none;
  }

  nav { 
    background-color:#d0e37a;
    border-radius: 0;
    box-shadow: none;
    left: 0;
    margin-left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  nav ul {
    display: none;
    padding: 0;
  }

  nav li {
    display: block;
  }

  nav a {
    border-bottom: 1px solid #000;
    border-right: none;
    color: #000;
    display: block;
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: none;
  }

  #nav-trigger {
    border-bottom: #000 solid 2px;
    color: #000;
    cursor: grab;
    display: block;
    padding: 1rem;
    text-align: center;
  }

  #nav-trigger:hover {
    background-color: #000;
    color: #fff;
  }

  #nav-box:checked + ul {
    display: block;
  }
}

/**320**/
@media screen and (max-width: 320px) { 

  h1 {
    font-size: 36px;
  }
}
